/*
	Theme Name: Solar
	Theme URI: http://solar.themeskult.com/
	Github Theme URI: https://github.com/themeskult/Solar-Theme
	Author: Themes Kult
	Author URI: http://themeskult.com/
	Version: v1.1
	License: GNU General Public License v2.0
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
/*input:invalid, textarea:invalid { background-color: #f0dddd; }*/

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
/* End of Boilerplate */

/* General */
a{ outline: none !important;}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}

/* =Menu
----------------------------------------------- */

.navigation-main {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.navigation-main ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.navigation-main li {
	float: left;
	position: relative;
}
.navigation-main a {
	display: block;
	text-decoration: none;
}
.navigation-main ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}
.navigation-main ul ul ul {
	left: 100%;
	top: 0;
}
.navigation-main ul ul a {
	width: 200px;
}
.navigation-main ul li:hover > ul {
	display: block;
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

.main-small-navigation ul {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-small-navigation ul.nav-menu.toggled-on {
		display: block;
	}

	.navigation-main ul {
		display: none;
	}
}



html 
	-webkit-font-smoothing: antialiased; 
	font-family: "ff-meta-serif-web-pro",serif;
	background: #f9f9f9;


.wrap
	border-left: 1px solid #f1f1f1;  background: white; min-height: 700px; border-right: 1px solid #f1f1f1; width: 500px; padding: 20px 50px 0 50px; margin: auto; 
	a{text-decoration: none;  color: #000;}
	a:hover{color: #a73715;}
	nav a, article p a
		border-bottom: 1px solid #f1f1f1;
		padding-bottom: 2px;
	p
		font-size: 15px;
		line-height: 23px;
		margin-top: 20px;
		margin-bottom: 20px;
		color: #4d4d4d;
		font-weight: 400;



	header.site-header
		margin-bottom: 40px;
		font-family: "freight-sans-pro",sans-serif;
		hgroup{overflow: hidden; margin-top: 50px;}
		h1#logo
			margin: 0 30px 0 0; display: block; display: inline-block;  border-radius: 100px;width: 130px; height: 130px; float: left;
			a{background:  #ed6859 url('images/logo.png') center no-repeat; background-size: cover; border-radius: 5px; height: 130px; text-indent: -10000em; display: block;}
		h2{font-size: 26px; line-height: 26px; padding: 0; margin: 0; margin-bottom: 10px;}
		h4
			margin: 0; text-transform: uppercase; font-size: 12px;
			a{color: #999;}
		.bio{font-size: 16px; color: #666; margin: 10px 0;}
		small{font-size: 11px; font-weight: bold;}
		.info{float: left; width: 340px; display: inline-block;}
		nav.navigation-main
			clear: both; margin-bottom: 20px; float: none;
			li
				margin-right: 30px;
				a
					text-decoration: none; color: #333; margin-right: 30px; font-size: 11px; font-weight: normal; font-family: "droid-sans-mono", Menlo, Monaco, 'Lucida Console', monospace;
				&.current_page_item a, &:hover 
					border-color: black;
			a:last-child{margin-right: 0;}
	.content-blog
		article.post, article.page 
			position: relative; margin-bottom: 120px; 
			h2
				margin: 0 0 10px 0;
				a
					color: black; position: relative; display: inline-block;
					&:hover{color: #2a94ca;}
				&.link a
					&.anchor img{height: 14px; width: 14px;  margin-top: -5px; margin-left: 6px;   opacity: .3;}
					&.title{border-bottom: 1px solid #f1f1f1; display: inline-block;}
					&:hover 
						span{border-color: #ccc;}
					&.anchor:hover img{opacity: 1;}

			.entry-meta
				position: absolute; text-align: right; font-family: "droid-sans-mono", Menlo, Monaco, 'Lucida Console', monospace; font-size: 12px; color: #666; top: 0; text-transform: uppercase; font-weight: 400; width: 140px; font-size: 10px; margin-top: 10px; left: -188px; 
				i
					background: #eee;
					border-radius: 100px;
					height: 5px;
					right: 0;
					width: 5px;
					position: absolute;
				.posted-on
					text-align: right;
					width:120px;
					overflow: hidden;
					time 
						display: block; 
						margin-bottom: 2px;
					span.byline 
						display: block;
			 
			p, ul, blockquote, ol, .prettify{margin: 20px 0;}
			p, ul li{line-height: 25px; font-size: 15px; color: #4d4d4d}
			ul, ol{padding: 0; margin-left: 18px;}
			ul {list-style: square;}
			ul li{margin: 5px 0;}
			blockquote{border-left: 8px solid #2acb5b; color:#666; padding: 0 0 0 20px;}
			blockquote p:last-child{margin-bottom:0}
			.entry-content a{ font-weight: normal; color: black; padding-bottom: 0px; border-bottom: 1px solid #ccc;}
			.entry-content a.view{border: 0}
			.entry-content a:hover{ border-color: #333}


			img {max-width: 100%; height: auto; width: auto;}

			p iframe,p object{display:block;margin:0;padding:0;width:100%;float:none}
			img, iframe, object{display:block;margin:0;padding:0;max-width:100%;float:none}
			iframe, object{min-height:250px;min-width:0}

			p < code {width: 100%; display: none;}

			hr 
				border-width: 4px;
				border-color: #eee; 
				width: 70%;
				margin: auto;

			code, pre 
				background-color: #f1f1f1;
				
			code 
				padding: 4px;
				font-size: 12px;

			pre
				border: none;
				display: block;
				border: 1px solid #d2d2d2;
				padding-top: 10px;
				padding-bottom: 10px;
				margin-left: -50px;
				font-size: 13px;
				width: auto;
				border-left: none;
				border-right: none;
				padding: 20px 50px;
				width: 500px;
			/* Images */

	nav.pagination
		margin: 60px 0 40px 0; display: block; width: 100%; overflow: hidden; 
		.newer, .older
			width: 44%; 
		a
			display: block; font-size: 13px; color: #333; padding: 20px 0; text-transform: uppercase;  text-align: center; background: #eee;
			font-weight: bold; text-decoration: none;
			&:hover{background: #333; color: #fff;}
		.older{float: left;}
		.newer{float: right;}
	#s
		border-radius: 100px;




.copyright
	position: fixed; text-decoration: none; right: 20px; bottom: 10px; width: 100px; text-align: right; font-family: "droid-sans-mono", Menlo, Monaco, 'Lucida Console', monospace; font-size: 11px; color: #999;
	span 
		display: block;


.right-drawer
	font-family: "freight-sans-pro",sans-serif;
	/* These styles MUST be included. Do not change. */
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;

	/* Specify the width of your pageslide here */
	width: 260px;
	padding: 0 10px;

	/* These styles are optional, and describe how the pageslide will look */
	background-color: #333;
	color: #FFF;
	overflow-y: scroll;

.open-left
	background: #333 url(images/open.png) center center no-repeat;
	display: block;
	width: 44px;
	height: 44px;
	top: 20px;
	right: 20px;
	position: fixed;
	right: 20px;
	text-indent: -10000em;
	z-index: 10000;


.widget-area 
	padding: 20px;
	color: #ccc;
	font-size: 12px;

	h1.widget-title 
		color: white;
		font-size: 18px;
		margin-bottom: 10px;

	a 
		color: #a5afb3;
		font-weight: bold;
		text-decoration: none;
		&:hover 
			color: white;

	ul 
		padding: 0;
		padding-left: 18px;
		margin: 0;
		li 
			list-style:  square;
			margin-bottom: 10px;


	.widget_search
		label
			font-weight: bold;
			margin-bottom: 10px;
			display: none;
		.submit 
			display: none;
		#s 
			border: 0;
			width: 92%;
			padding: 4%;
			background-color: #666;
			color: #1a1d22;
			font-size: 14px;
			&:focus 
				outline: none;
				color: White;
				box-shadow: none;


/* =Comments
-------------------------------------------------------------- */

.comments-area
	h2{margin-top: 0;}

ol.commentlist
	list-style:none; margin:0; padding: 0; max-width: 500px; 
	li.comment{border-bottom:1px solid #e7e7e7; line-height:24px;  margin:0 0 24px 0; padding:0 0 24px 60px; position:relative}
	li:last-child{border-bottom:none; margin-bottom:0}
	.avatar{position:absolute; border-radius: 100px; top:4px; left:0}
	.comment-author{font-weight: bold; font-size: 13px}
	.comment-author cite{color:#000; font-style:normal; font-weight:bold}
	.comment-author .says{font-style:italic}
	.comment-meta{font-size:12px; margin:0 0 18px 0}
	.comment-meta a:link, 
	.comment-meta a:visited{color:#888; text-decoration:none}
	.comment-meta a:active, 
	.comment-meta a:hover{color:#ff4b33}
.reply{font-size:12px; padding:0 0 24px 0}
.reply a, 
a.comment-edit-link{color:#888}
.reply a:hover, 
a.comment-edit-link:hover{color:#ff4b33}
.commentlist .children{list-style:none; margin:0}
.commentlist .children li{border:none; margin:0}
.nopassword, .nocomments{display:none}
#comments .pingback{border-bottom:1px solid #e7e7e7; margin-bottom:18px; padding-bottom:18px}
.commentlist li.comment+li.pingback{margin-top:-6px}
#comments .pingback p{color:#888; display:block; font-size:12px; line-height:18px; margin:0}
#comments .pingback .url{font-size:13px; font-style:italic}

input[type=submit]{color:#333}
#respond{position:relative; }
#respond p{margin:0}
#respond .comment-notes{margin-bottom:1em}
.form-allowed-tags{line-height:1em}
.children #respond{margin:0 48px 0 0}
h3#reply-title{margin:18px 0}
#comments-list #respond{margin:0 0 18px 0}
#comments-list ul #respond{margin:0}
#cancel-comment-reply-link{font-size:12px; font-weight:normal; line-height:18px}
article a.comment-reply-link{font-size: 13px; text-decoration: none; font-weight: bold;}
#respond .required{ color:#ff4b33; font-weight:bold}
#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, #respond .comment-form-comment label{color:#888;  font-size:12px; width: 70px; display: inline-block;  }
#respond .comment-form-comment label {padding: 0; text-align: left; }
#respond input[type="text"]{margin-bottom:14px; padding:4px; margin-right:10px; border:0; border-bottom:1px solid #ccc}
#respond input[type="text"]:focus{outline:0; border-color:#333}

.comment-form-comment label{display: block;}
#respond textarea{border-color:#ccc}
#respond textarea:focus{outline:0}
.logged-in-as{font-size: 11px}

ol.commentlist li.comment.byuser{margin-top: 30px}
ol.commentlist li.comment.byuser #respond .form-submit{margin-left: 0}
#respond #submit{margin:0 0 9px; background:black; border-radius:5px; padding:10px 20px; font-weight:bold; width:auto; border:0; color:white; margin-bottom:50px}
#respond textarea{width: 96%; margin-bottom:10px; padding: 2%}
#respond .form-allowed-tags{color:#888; font-size:12px; line-height:18px}
#respond .form-allowed-tags code{font-size:11px}
#respond .form-submit{margin:12px 0 0 0}
#respond .form-submit input{font-size:14px; width:auto}
.form-allowed-tags, .comment-notes{display: none;}

@media only screen and (min-width: 35em) {
  	
}

@media (max-width: 790px)
	.wrap
		width: 92%; padding: 2% 4%;	margin: 0; border: 0;
		header.site-header
			h1#logo{margin-bottom: 20px;}
			hgroup
				margin-top: 20px;
			nav 

				a{margin-right: 14px;}

		.content-blog
			article.post, article.page
				h2{margin-bottom: 10px;}
				.entry-meta
					position: static;
					i {display: none;}
					.posted-on
						width: auto;
						text-align: left;
						span.byline
							display: inline-block;
				pre,code
					width: 96%; padding: 2%; margin: 0;
	.copyright
		position: static; text-align: center; width: 100%; padding: 20px 0; background: #f9f9f9; display: block;
		span{display: inline;}


@media (max-width: 790px)
	.wrap
		width: 92%; padding: 2% 4%;	margin: 0; border: 0;
		header.site-header
			margin-bottom: 20px;
			h1#logo
				width: 60px; height: 60px; float: left; margin-right: 10px;
				a 
					background-size: 70%; width: 60px; height: 60px;

			.info
				width: 200px;
				float: left;
				h2 
					font-size: 30px;
					margin-bottom: 16px;
				.bio 
					font-size: 12px;
					display: none;
			nav.navigation-main 
				clear: both;
				overflow: hidden;
				width: 100%;

				ul
					width: 100%;
					background: #f1f1f1;
				li 
					display: block;
					clear: both;
					float: none;
					text-align: center;
					margin-right: 0;
					a 
						padding: 10px;
						display: block;


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}